.getting-started {

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }

}

ion-avatar img {
  max-width: 5rem !important;
  max-height: 5rem !important;
  border-radius: 0 !important;
}

.item-description {
  white-space: normal !important;	
}
